body {
  background-color: var(--background-page);
}

:root {
  --background-page: #f2f2f2;
  --color-white: #ffffff;
  --border-color: rgb(235, 202, 207);
  --hover-color: rgb(241, 157, 170);
  --disabled-color: lightgrey;
}

/* PostPage */

.title {
  margin-bottom: 50px;
}

.containers {
  display: flex;
  justify-content: space-around;
}
